img {
    vertical-align: middle;
    border-style: none;
    height: 710px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    opacity: .6;
    
}

.footer{
    color: white;
    background-color: #343A40;


}

