*{
    font-family: 'Merriweather', serif;
}
.thingy {
    vertical-align: middle;
    border-style: none;
    height: 710px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    opacity: .6;
    
}

.footer{
    color: white;
    background-color: #343A40;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}
.thingy2{
    color: white;
    z-index: 2;
    position: absolute;
    top: 100px;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    padding-right: 150px;
    padding-left: 150px;
    opacity: .9;
}

.title{
    margin-top: 40px;
    font-size: 40px;
    font-weight: bolder;
}
.toprow{
    margin: auto;
}
.backgroundImage{
    margin: 5px;
    width: 80%;
    height: 340px;

}